:root {
  --darkPurple: #261a46;
  --purple: #7c22c9;
  --white: #fff;
  --black: #000;
}

html {
  height: 100%;
}

body {
  background-color: var(--darkPurple);
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

nav {
  background-color: var(--purple);
  padding: 1rem;
  display: flex;
}

nav h1 {
  margin: 0;
  padding: 0;
}

.logo {
  max-height: 2rem;
  margin-right: 1rem;
}

main {
  padding: 0 5rem;
}

.buttonContainer {
  margin: 2rem 0rem;
  display: flex;
}

.selectorContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}

#dateSelector {
  width: 50%;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0px;
  text-align: center;
  font-size: 1rem;
}

.fetcherContainer {
  display: flex;
  justify-content: center;
  width: 50%;
}

.fetcher {
  border-radius: 0;
  border: transparent;
  border-radius: 1rem;
  background-color: var(--purple);
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  width: 52.7%;
  font-weight: 800;
}

.fetcher:hover {
  background-color: var(--white);
  color: var(--black);
}

.title {
  font-size: 2.5rem;
  margin-top: 0;
}

.date {
  color: var(--black);
  font-weight: 800;
  font-size: 1.1rem;
  margin: 0.5rem 0rem;
}

.description {
  text-align: start;
  font-size: 1.1rem;
}

.copyright {
  color: var(--black);
}

.container {
  display: none;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  margin: 1rem 0rem;
  border-radius: 1rem;
}

.container img {
  display: none;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.container.active {
  background-color: var(--purple);
  display: block;
}

.container.active img {
  display: block;
}

#spaceImage {
  max-width: 80%;
}

@media (max-width: 760px) {
  main {
    padding: 0 2rem;
  }

  .buttonContainer {
    display: block;
  }

  .selectorContainer {
    width: 100%;
    margin-bottom: 1rem;
  }

  #dateSelector {
    font-size: 1.2 rem;
  }

  .fetcherContainer {
    width: 100%;
  }

  .fetcher {
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.8rem;
  }

  #spaceImage {
    max-width: 100%;
  }
}
